.mytitle {
  background-color: red;
  color: white;
}

/* .task {
  background-color: rgb(247, 247, 247);
  display: flex;
  align-items: center;
  padding: 30px;
  margin: 2vmax;
  font: 100 1.1rem sans-serif;
  color: black;
}

.task > div {
  width: 100%;
}

.task span {
  color: rgba(0, 0, 0, 0.632);
}

.deleteBtn {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  font-size: 1.6rem;
  background-color: crimson;
} */
